@charset "utf-8";
/* CSS Document */

body {background: url("https://www.auburn.edu/template/styles/images/bodyBackground.png") repeat-x scroll center top;}
.logo {top:0px;}
.title-area {top:25px;}
.header-wrap header {min-height:90px;}

.container {max-width:930px;}
.content-division {padding:0px; margin-top:10px;}

.title-area {text-align:center; color:#eaeaea; font-size:11px;}
.title-area-small_links {margin:5px 0px;}
.title-area-small_links a {color:#fff; font-size:11px; margin:0px 3px;}
.title-area-search {}
.title-area-search .searchfield {width:100%; height:18px; color:#000;}

.header-wrap nav .nav > li > a {padding:3px 45px 4px 45px; width:100%; text-align:center; font-weight:350; }
.header-wrap .navbar .nav > li:last-child > a {padding:3px 45px 4px 30px; }


#carousel-example-generic {border:1px solid #a2a2a2; border-bottom:1px solid #a2a2a2; width:100%; margin:0px auto;}
#carousel-example-generic .carousel-caption {padding:0px border:0px; background:none; position:absolute; top:0; max-height:100px; width:100%;}
#carousel-example-generic .carousel-caption h3 {text-align:left; font-size:16px; font-weight:bold; padding:5px 10px; background-color: rgba(33,33,33,.8); margin:0px;}
#carousel-example-generic .carousel-caption h3 a {color:#fff;}
#carousel-example-generic .carousel-caption h3 a:hover {text-decoration:underline;}
#carousel-example-generic .carousel-caption p {text-align:left; padding:3px 10px; background-color: rgba(33,33,33,.8);}

#index_content {width:100%;}
#index_content_column1 {width:20%; background-color:#496e9c; float:left;}
#index_content_column2 {width:52%; background-color:#fff; float:left; padding:5px 10px;}
#index_content_column3 {width:28%; background-color:#fff; float:right;}

#index_subnav {padding:0px; margin:20px 0px;}
#index_subnav li {list-style-type:none;}
#index_subnav a {color:#fff; display:block; padding:4px 10px; text-decoration:none; width:100%;}
#index_subnav a:hover {background-color:#03244d;}
#index_content_column3 img {margin:10px 0px; width:100%;}


.weather {color:#fff; margin-top:15px;}

.tab-content {}
 .nav-tabs {margin:10px 5px;}
 .nav-tabs li {background:none;}
 .tab-content {margin:0px 20px;}
 
#events {font-size:13px;}
#events a {color:#03244d;}
#events .cItem {border-bottom:1px dashed #a2a2a2; clear:both; height:auto; margin-bottom:15px; padding-bottom:10px;}
#events .cDate {float:left; margin-right:15px; height:50px; color:#03244d;}
#events .cMonth {margin-right:5px;}
#events .cEvent {}
#events .cTitle {}
#events .cTime {color:#dd550c; font-size:10px; font-weight:bold;}
 
#slider1 {}
.sliderwrapper {min-height: 90px; overflow: hidden; position: relative; text-align: center; width: 425px;}
.sliderwrapper .contentdiv {background-color: white; height: 100%; left: 0; opacity: 1; position: absolute; text-align: center; top: 0; visibility: hidden; width: 425px;}
.sliderwrapper > .contentdiv img {border: 1px solid #d7d7d7;}
.sliderwrapper > .contentdiv a {border-bottom: medium none;}
.pagination {margin: 0 auto; padding: 5px 10px 0; text-align: center;}
.pagination a { background: rgba(0, 0, 0, 0) url("https://www.auburn.edu/template/styles/images/css-sprite.png") no-repeat scroll -93px -13px; border-bottom: medium none; display: inline-block; height: 12px; margin: 0 5px; width: 12px;}
.pagination a:hover { background: rgba(0, 0, 0, 0) url("https://www.auburn.edu/template/styles/images/css-sprite.png") no-repeat scroll -107px -2px; border-bottom: medium none;}
.pagination a.selected {background: rgba(0, 0, 0, 0) url("https://www.auburn.edu/template/styles/images/css-sprite.png") no-repeat scroll -107px -15px; border-bottom:none ;} 
.pagination a.active {border:none;}

#carousel-example-generic_buttons {}
#carousel-example-generic_buttons .item { margin:0px auto;}
#carousel-example-generic_buttons .item img {margin:4px; width:30%; display:inline;}
 
.button_slider {text-align:center; overflow:visible;}
 
 
#footer { background-color: #03244d; margin: 0; overflow: hidden; padding: 18px 0 10px; width: 100%;}
#footer a, #footer a:visited {border-bottom: medium none; color: #f4f4f4; }
#footer a:hover, #footer a:active {border-bottom: 1px solid #f4f4f4; color: #f4f4f4; }
#footer .footSection {float: left; line-height: 12px; min-height: 50px; padding: 0 15px 5px; text-align: center; width: 285px; }
#footer .footSection ul {padding: 0; }
#footer .footSection ul li {background: rgba(0, 0, 0, 0) none repeat scroll 0 0; list-style: outside none none; margin: 0; padding-bottom: 6px;}
#footer p.social {margin-top: 10px;}
#footer .noBorder {border: medium none;}
.socialDetails {background: rgba(0, 0, 0, 0) url("https://www.auburn.edu/template/styles/images/css-sprite.png") no-repeat scroll 0 -177px; height: 22px; margin: 0 auto; padding: 0; width: 200px;}
#footer a.social:hover {border-bottom: medium none;} 
#footer .footSection p {text-align: center; }
#subfooter {border-top: 5px solid #dd550c; clear: both; color: #03244d; line-height: 18px; padding: 15px 0 10px; text-align: center; width: 950px;}
#subfooter a, #subfooter a:hover, #subfooter a:visited {color: #03244d;}
#subfooter a:hover {border-bottom: 1px solid #03244d;}
#subfooter a.last {border-right: medium none;}
a.social {background: rgba(0, 0, 0, 0) url("https://www.auburn.edu/template/styles/images/css-sprite.png") no-repeat scroll -69px -23px; display: inline-block; height: 23px;  margin: 0 1px; width: 23px;}
a.social > img {display: none;}
a.facebook {background-position: -46px 0;}
a.iTunes {background-position: -23px 0;}
a.twitter {background-position: 0 0;}
a.googlePlus {background-position: -46px -23px;}
a.youTube {background-position: -23px -23px;}
a.auFamily {background-position: -69px 0;}
a.sec {background-position: 0 -23px;}
a.flickr {background-position: -69px -23px;}

#mobile_subnav {margin:10px 0px 0px 0px;}
#mobile_subnav .navbar-brand {background-color:#496e9c;}
#mobile_subnav li a {background-color:#496e9c;}
#mobile_subnav a:hover {background-color:#03244d;}
.mobile_section {background-color:#496e9c; color:#fff; font-weight:bold; padding:5px; margin:10px 0px; border-bottom:3px solid #f9903f;}

#slider1 {width:100%;}
#slider1 .contentdiv {width:100%;}

#btia {margin-top:10px; background-image:url(http://ocm.auburn.edu/images/btia_bg.jpg); background-position:center; width:100%;}
.btia_link {max-width:118px; padding:0px 5px; margin-top:-10px;}

@media (max-width:1000px) {
.header-wrap nav .nav > li > a {padding:3px 20px 4px 20px; width:100%; text-align:center;}
.header-wrap .navbar .nav > li:last-child > a {padding:3px 20px 4px 20px;}
.btia_link {max-width:118px; padding:0px 5px; margin:0px auto;}
#carousel-example-generic_buttons .item {max-width:310px;}
#slider1 img {width:100px;}
}

@media (max-width:800px) {
.title-area-search {margin:5px auto; width:70%;}
}

@media (min-width:761px) {
#mobile_subnav {display:none;}
}

@media (max-width:760px) {
#index_content_column1 {display:none;}
#index_content_column2 {width:70%; background-color:#fff; float:left; padding:5px 10px;}
#index_content_column3 {width:30%; background-color:#fff; float:right; padding:5px 10px;}
}

@media (max-width:600px) {
#slider1 {height:200px;}
#slider1 img {margin:5px;}
}

@media (max-width:500px) {
#carousel-example-generic_buttons .item img {width:80%; margin:5px auto; display:block;}
#carousel-example-generic_buttons .carousel-control {display:none;}

}

@media (max-width:500px) {
#index_content_column2 {width:100%; background-color:#fff; float:none; padding:5px 10px;}
#index_content_column3 {width:100%; background-color:#fff; float:none; padding:5px 10px;}
#mid-tabs {display:none;}
.tab-content {display:none;}
#btia {margin:0px auto; background-image:url(http://ocm.auburn.edu/images/btia_bg.jpg); background-position:center; max-width:260px; padding:0px;}
.btia_logo {width:100%;}
.btia_logo img {width:100%;}
.btia_link {max-width:118px; padding:0px 5px; margin:0px 6px;}

}

@media (min-width:500px) {
#mobile_content {display:none;}
}

